@{
    var d_day = DateTime.Now.Day;
    var d_weekDay = DateTime.Now.ToString("dddd").First().ToString().ToUpper() + String.Join("", DateTime.Now.ToString("dddd").Skip(1));
    var d_month = DateTime.Now.ToString("MMMM").First().ToString().ToUpper() + String.Join("", DateTime.Now.ToString("MMMM").Skip(1));
    var d_ano = DateTime.Now.Year;
}

@using (Html.Rp3BeginRow())
{
    using (Html.Rp3BeginColumn(HtmlColumnSize.Size_12))
    {
        using (Html.Rp3BeginContentBox())
        {
            string placeHolder = Rp3.AgendaComercial.Resources.LabelFor.BuscarOportunidades;

            <div style="height:50px;">
                <div class="row" style="float:left;width:310px; margin-top:-10px;margin-left:10px">
                    @*<div class="col-md-2"> <div class="block-lines-header-box blue-box"><h4 class="text-center">@d_day</h4></div></div>
                        <div class="col-md-2 pad-10">@d_weekDay  @d_month  @d_ano</div>*@
                    <div class="col-md-12 pad-10"><input id="txtbusqueda" type="text" class="form-control input-lg" placeholder="@placeHolder"></div>
                </div>
                <div class="row" style="float:left;width:50px;margin-left:20px;margin-top:-2px;height:50px;"><div id="spinner-loading"></div></div>
                <div class="row" style="float:left;width:300px;margin-left:10px;margin-top:-2px;height:50px;">
                    <div id="reportrange" class="pull-left form-control daterange" style=" height:48px;">
                        <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                        <span style="height:100%"></span> <b @*class="caret"*@ style="height: 100%; display: inline-block;vertical-align: middle;"></b>
                    </div>
                </div>

                @*<div class="row" style="float:left;width:100px;margin-left:60px;margin-top:5px;height:50px;">
                        @Html.Rp3DropDownList((IEnumerable<SelectListItem>)ViewBag.DiasInactividad, htmlAttributes: new { style = "width:150px", placeholder = Rp3.AgendaComercial.Resources.LabelFor.DiasInactividad }, name: "diasInactividad")
                    </div>*@

                <div class="btn-group pull-right row" style="width:160px;">
                    @Html.Rp3Button("", actionName: "group-list", iconClass: "fa fa-bars", htmlAttributes: new { title = Rp3.AgendaComercial.Resources.LabelFor.Listado })
                    @Html.Rp3Button("", actionName: "group-calendar", iconClass: "fa fa-calendar", themeType: ElementThemeType.Default, includeText: false, htmlAttributes: new { title = Rp3.AgendaComercial.Resources.LabelFor.Fecha })
                    <button action="group-agent" class="btn btn-default"><img class="" style="margin-right:3px;margin-top:-2px" width="16" height="16" src="@Url.ContentApplicationImage("agentes.png")" title="@Rp3.AgendaComercial.Resources.LabelFor.Agente" /></button>
                    <button action="group-state" class="btn btn-default"><img class="" style="margin-right:3px;margin-top:-2px" width="16" height="16" src="@Url.ContentApplicationImage("gray-flag.png")" title="@Rp3.AgendaComercial.Resources.LabelFor.Estado" /></button>

                    @*@Html.Rp3Button("", actionName: "group-state", iconClass: "fa fa-bookmark", themeType: ElementThemeType.Default)*@
                </div>

                @*<div class="btn-group pull-right row" style="width:50px;">
                        @Html.Rp3Button("", actionName: "sort-list", iconClass: "fa fa-sort", themeType: ElementThemeType.Default, htmlAttributes: new { title = Rp3.AgendaComercial.Resources.TitleFor.Ordenamiento })
                    </div>*@

            </div>
        }
    }
}

@using (Html.Rp3BeginRow())
{
    using (Html.Rp3BeginColumn(HtmlColumnSize.Size_12))
    {
        using (Html.Rp3BeginContentBox(paddingContent: false))
        {
            <div class="row">

                <div field="calificacion" style="float:right">
                    <div sort-asc onclick="Sort('calificacion')" style="cursor:pointer;float:left;margin-right:0px;margin-left:10px"><i class="fa fa-sort-asc"></i></div>
                    <div sort-desc onclick="Sort('calificacion')" style="display:none;cursor:pointer;float:left;margin-right:0px;margin-left:10px"><i class="fa fa-sort-desc"></i></div>
                    <div onclick="Sort('calificacion')" style="cursor:pointer;float:left;margin-left:5px;"><div class="star_full"></div></div>
                    <div onclick="Sort('calificacion')" style="cursor:pointer;float:left;margin-left:3px;"><strong>@Rp3.AgendaComercial.Resources.LabelFor.Importancia</strong></div>

                </div>

                <div field="etapa" style="float:right">
                    <div sort-asc onclick="Sort('etapa')" style="display:none;cursor:pointer;float:left;margin-right:0px;margin-left:10px"><i class="fa fa-sort-asc"></i></div>
                    <div sort-desc onclick="Sort('etapa')" style="display:none;cursor:pointer;float:left;margin-right:0px;margin-left:10px"><i class="fa fa-sort-desc"></i></div>
                    <div onclick="Sort('etapa')" style="cursor:pointer;float:left;margin-left:5px;"><div class="stage_content"><i class="fa stage_icon" style="background-color:#727375;width:13px"></i><strong class="stage_label" style="left:3px">1</strong></div></div>
                    <div onclick="Sort('etapa')" style="cursor:pointer;float:left;margin-left:3px;"><strong>@Rp3.AgendaComercial.Resources.LabelFor.Etapa</strong></div>

                </div>

                <div field="diasinactividad" style="float:right">
                    <div sort-asc onclick="Sort('diasinactividad')" style="display:none;cursor:pointer;float:left;margin-right:0px;margin-left:10px"><i class="fa fa-sort-asc"></i></div>
                    <div sort-desc onclick="Sort('diasinactividad')" style="display:none;cursor:pointer;float:left;margin-right:0px;margin-left:10px"><i class="fa fa-sort-desc"></i></div>
                    <div onclick="Sort('diasinactividad')" style="cursor:pointer;float:left;margin-left:5px;"><img class="" style="margin-right:3px;margin-top:-2px" width="16" height="16" src="@Url.ContentApplicationImage("diasinactivos.png")" /></div>
                    <div onclick="Sort('diasinactividad')" style="cursor:pointer;float:left;margin-left:3px;"><strong>@Rp3.AgendaComercial.Resources.LabelFor.DiasInactividad</strong></div>
                </div>

                <div field="diastranscurridos" style="float:right">
                    <div sort-asc onclick="Sort('diastranscurridos')" style="display:none;cursor:pointer;float:left;margin-right:0px;margin-left:10px"><i class="fa fa-sort-asc"></i></div>
                    <div sort-desc onclick="Sort('diastranscurridos')" style="display:none;cursor:pointer;float:left;margin-right:0px;margin-left:10px"><i class="fa fa-sort-desc"></i></div>
                    <div onclick="Sort('diastranscurridos')" style="cursor:pointer;float:left;margin-left:5px;"><img class="" style="margin-right:3px;margin-top:-2px" width="16" height="16" src="@Url.ContentApplicationImage("diastranscurridos.png")" /></div>
                    <div onclick="Sort('diastranscurridos')" style="cursor:pointer;float:left;margin-left:3px;"><strong>@Rp3.AgendaComercial.Resources.LabelFor.DiasTranscurridos</strong></div>

                </div>
                @*<div style="float:right;margin-left:3px;"><strong>@Rp3.AgendaComercial.Resources.LabelFor.Prospecto</strong></div>
                    <div style="float:right;margin-left:10px;"><img class="" style="margin-right:3px;margin-top:-2px" width="16" height="16" src="@Url.ContentApplicationImage("clientes.png")" /></div>*@

                <div field="agente" style="float:right">
                    <div sort-asc onclick="Sort('agente')" style="display:none;cursor:pointer;float:left;margin-right:0px;margin-left:10px"><i class="fa fa-sort-asc"></i></div>
                    <div sort-desc onclick="Sort('agente')" style="display:none;cursor:pointer;float:left;margin-right:0px;margin-left:10px"><i class="fa fa-sort-desc"></i></div>
                    <div onclick="Sort('agente')" style="cursor:pointer;float:left;margin-left:5px;"><img class="" style="margin-right:3px;margin-top:-2px" width="16" height="16" src="@Url.ContentApplicationImage("agentes.png")" /></div>
                    <div onclick="Sort('agente')" style="cursor:pointer;float:left;margin-left:3px;"><strong>@Rp3.AgendaComercial.Resources.LabelFor.Agente</strong></div>

                </div>

                @*<div style="float:right;margin-left:3px;"><strong>@Rp3.AgendaComercial.Resources.LabelFor.Estado</strong></div>
                    <div style="float:right;margin-left:10px;"><i class="fa fa-bookmark"></i></div>*@


                <div field="importe" style="float:right">
                    <div sort-asc onclick="Sort('importe')" style="cursor:pointer;float:left;margin-right:0px;margin-left:10px"><i class="fa fa-sort-asc"></i></div>
                    <div sort-desc onclick="Sort('importe')" style="display:none;cursor:pointer;float:left;margin-right:0px;margin-left:10px"><i class="fa fa-sort-desc"></i></div>
                    <div onclick="Sort('importe')" style="cursor:pointer;float:left;margin-left:5px;"><img class="" style="margin-right:3px;margin-top:-2px" width="16" height="16" src="@Url.ContentApplicationImage("importe.png")" /></div>
                    <div onclick="Sort('importe')" style="cursor:pointer;float:left;margin-left:3px;"><strong>@Rp3.AgendaComercial.Resources.LabelFor.Importe</strong></div>

                </div>
                <div field="probabilidad" style="float:right">
                    <div sort-asc onclick="Sort('probabilidad')" style="display:none;cursor:pointer;float:left;margin-right:0px;margin-left:10px"><i class="fa fa-sort-asc"></i></div>
                    <div sort-desc onclick="Sort('probabilidad')" style="display:none;cursor:pointer;float:left;margin-right:0px;margin-left:10px"><i class="fa fa-sort-desc"></i></div>
                    <div onclick="Sort('probabilidad')" style="cursor:pointer;float:left;margin-left:5px;"><img class="" style="margin-right:3px;margin-top:-2px" width="16" height="16" src="@Url.ContentApplicationImage("probabilidad.png")" /></div>
                    <div onclick="Sort('probabilidad')" style="cursor:pointer;float:left;margin-left:3px;"><strong>@Rp3.AgendaComercial.Resources.LabelFor.Probabilidad</strong></div>

                </div>
                <div field="oportunidad" style="float:right">
                    <div sort-asc onclick="Sort('oportunidad')" style="display:none;cursor:pointer;float:left;margin-right:0px;margin-left:10px"><i class="fa fa-sort-asc"></i></div>
                    <div sort-desc onclick="Sort('oportunidad')" style="display:none;cursor:pointer;float:left;margin-right:0px;margin-left:10px"><i class="fa fa-sort-desc"></i></div>
                    <div onclick="Sort('oportunidad')" style="cursor:pointer;float:left;margin-left:5px;"><img class="" style="margin-right:3px;margin-top:-2px" width="16" height="16" src="@Url.ContentApplicationImage("oportunidad.png")" /></div>
                    <div onclick="Sort('oportunidad')" style="cursor:pointer;float:left;margin-left:3px;"><strong>@Rp3.AgendaComercial.Resources.LabelFor.Oportunidad</strong></div>

                </div>
                <div field="fecha" style="float:right">
                    <div sort-asc onclick="Sort('fecha')" style="display:none;cursor:pointer;float:left;margin-right:0px;margin-left:10px"><i class="fa fa-sort-asc"></i></div>
                    <div sort-desc onclick="Sort('fecha')" style="display:none;cursor:pointer;float:left;margin-right:0px;margin-left:10px"><i class="fa fa-sort-desc"></i></div>
                    <div onclick="Sort('fecha')" style="cursor:pointer;float:left;margin-left:5px;"><i class="fa fa-calendar"></i></div>
                    <div onclick="Sort('fecha')" style="cursor:pointer;float:left;margin-left:3px;"><strong>@Rp3.AgendaComercial.Resources.LabelFor.Fecha</strong></div>

                </div>
                <div field="estado" style="float:right">
                    <div sort-asc onclick="Sort('estado')" style="display:none;cursor:pointer;float:left;margin-right:0px;margin-left:10px"><i class="fa fa-sort-asc"></i></div>
                    <div sort-desc onclick="Sort('estado')" style="display:none;cursor:pointer;float:left;margin-right:0px;margin-left:10px"><i class="fa fa-sort-desc"></i></div>
                    <div onclick="Sort('estado')" style="cursor:pointer;float:left;margin-left:5px;"><img class="" style="margin-right:3px;margin-top:-2px" width="16" height="16" src="@Url.ContentApplicationImage("gray-flag.png")" /></div>
                    <div onclick="Sort('estado')" style="cursor:pointer;float:left;margin-left:3px;"><strong>@Rp3.AgendaComercial.Resources.LabelFor.Estado</strong></div>

                </div>

               
            </div>

            <div id="content-listado" style="min-height:300px"></div>
        }
    }
}


<script>
    $(function () {
        init_Listado();
    });
</script>