@model Rp3.AgendaComercial.Models.Ruta.Agenda
@{
    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();

    Model.ReadOnly = Model.EstadoAgenda != Rp3.AgendaComercial.Models.Constantes.EstadoAgenda.Pendiente;

    ViewBag.Theme = "Office2010Blue";
}

@using (Html.BeginForm())
{
    <table style="width: 100%; height:100px; border-collapse: separate; border-spacing: 2px;">
        <tr>
            <td style="white-space: nowrap; padding-right: 5px;">
                @Html.DevExpress().Label(
                        settings =>
                        {
                            settings.Theme = ViewBag.Theme;
                            settings.AssociatedControlName = "FechaInicio";
                            settings.Text = Rp3.AgendaComercial.Resources.LabelFor.Inicio;
                            settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                        }).GetHtml()
            </td>
            <td>
                @Html.DevExpress().DateEdit(
                        settings =>
                        {
                            settings.Theme = ViewBag.Theme;
                            settings.Name = "FechaInicio";
                            settings.Properties.EditFormat = EditFormat.DateTime;
                            settings.ShowModelErrors = true;
                            settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                            settings.ReadOnly = Model.ReadOnly;
                        }).Bind(Model.FechaInicio).GetHtml()
            </td>
            <td style="white-space: nowrap; padding-right: 5px;">
                @Html.DevExpress().Label(
                        settings =>
                        {
                            settings.Theme = ViewBag.Theme;
                            settings.AssociatedControlName = "FechaFin";
                            settings.Text = Rp3.AgendaComercial.Resources.LabelFor.Fin;
                            settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                        }).GetHtml()
            </td>
            <td>
                @Html.DevExpress().DateEdit(
                        settings =>
                        {
                            settings.Theme = ViewBag.Theme;
                            settings.Name = "FechaFin";
                            settings.Properties.EditFormat = EditFormat.DateTime;
                            settings.ShowModelErrors = true;
                            settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                            settings.ReadOnly = Model.ReadOnly;
                        }).Bind(Model.FechaFin).GetHtml()
            </td>
        </tr>
        <tr>
            <td style="white-space: nowrap; padding-right: 5px;">
                @Html.DevExpress().Label(
                    settings =>
                    {
                        settings.Theme = ViewBag.Theme;
                        settings.AssociatedControlName = "IdRecurso";
                        settings.Text = Rp3.AgendaComercial.Resources.LabelFor.Cliente;
                        settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                    }).GetHtml()
            </td>
            <td @*colspan="3"*@>
                @Html.Partial("_ClientePartial", Model)
            </td>
            <td style="white-space: nowrap; padding-right: 5px;">
                @Html.DevExpress().Label(
                    settings =>
                    {
                        settings.Theme = ViewBag.Theme;
                        settings.AssociatedControlName = "IdClienteContacto";
                        settings.Text = Rp3.AgendaComercial.Resources.LabelFor.Contacto;
                        settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                    }).GetHtml()
            </td>
            <td @*colspan="3"*@>
               @Html.Partial("_ContactoPartial", Model)
            </td>
        </tr>
        <tr>
            <td style="white-space: nowrap; padding-right: 5px;">
                @Html.DevExpress().Label(
                    settings =>
                    {
                        settings.Theme = ViewBag.Theme;
                        settings.AssociatedControlName = "TareaIds";
                        settings.Text = Rp3.AgendaComercial.Resources.LabelFor.Tareas;
                        settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                    }).GetHtml()
            </td>
            <td colspan="3">
                @Html.DevExpress().TokenBox(
                settings =>
                {
                    settings.Theme = ViewBag.Theme;
                    settings.Name = "TareaIds";
                    settings.Properties.AllowCustomTokens = false;
                    settings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.Contains;
                    settings.Properties.ItemValueType = typeof(long);
                    settings.Properties.ValueSeparator = '-';
                    settings.Properties.ValueField = "IdTarea";
                    settings.Properties.TextField = "Descripcion";
                    settings.Properties.NullText = Rp3.AgendaComercial.Resources.LegendFor.TareaToken;
                    settings.Width = System.Web.UI.WebControls.Unit.Percentage(95.7);
                    settings.ReadOnly = Model.ReadOnly;
                }).BindList(ViewData["Tareas"]).Bind(Model.TareaIds).GetHtml()
            </td>
        </tr>
        <tr>
            <td style="white-space: nowrap; padding-right: 5px;">
                @Html.DevExpress().Label(
                    settings =>
                    {
                        settings.Theme = ViewBag.Theme;
                        settings.AssociatedControlName = "EstadoAgenda";
                        settings.Text = Rp3.AgendaComercial.Resources.LabelFor.Estado;
                        settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                    }).GetHtml()
            </td>
            <td>
                @Html.DevExpress().ComboBox(
                settings =>
                {
                    settings.Theme = ViewBag.Theme;
                    settings.Name = "EstadoAgenda";
                    settings.Properties.ValueType = typeof(string);
                    settings.Properties.ValueField = "Code";
                    settings.Properties.TextField = "Content";
                    settings.Width = System.Web.UI.WebControls.Unit.Percentage(91.5);
                    settings.ReadOnly = Model.ReadOnly;
                }).BindList(ViewData["Estados"]).Bind(Model.EstadoAgenda).GetHtml()
            </td>
            <td></td>
            <td></td>
        </tr>
    </table>
    <table cellpadding="0" cellspacing="0" style="width: 100%; height: 35px;">
        <tr>
            <td style="width: 100%; height: 100%;" align="center">
                <table style="height: 100%;">
                    <tr>
                        @if (!Model.ReadOnly)
                        {
                            <td>
                                @Html.DevExpress().Button(
                                settings =>
                                {
                                    settings.Theme = ViewBag.Theme;
                                    settings.Name = "Apply";
                                    settings.Text = Rp3.AgendaComercial.Resources.LabelFor.Aceptar;
                                    settings.Width = System.Web.UI.WebControls.Unit.Pixel(91);
                                    settings.ClientSideEvents.Click = "function(s, e){ AgendaScheduler.AppointmentFormSave(); }";
                                }).GetHtml()
                            </td>
                        }
                        <td style="padding: 0 4px;">
                            @Html.DevExpress().Button(
                                settings =>
                                {
                                    settings.Theme = ViewBag.Theme;
                                    settings.Name = "Cancel";
                                    settings.Text = Rp3.AgendaComercial.Resources.LabelFor.Cancelar;
                                    settings.ClientSideEvents.Click = "function(s, e){ AgendaScheduler.AppointmentFormCancel(); }";
                                    settings.Width = System.Web.UI.WebControls.Unit.Pixel(91);
                                }).GetHtml()
                        </td>
                        @if (!Model.ReadOnly)
                        {
                            <td>
                                @Html.DevExpress().Button(
                                settings =>
                                {
                                    settings.Theme = ViewBag.Theme;
                                    settings.Name = "Delete";
                                    settings.Text = Rp3.AgendaComercial.Resources.LabelFor.Eliminar;
                                    settings.Width = System.Web.UI.WebControls.Unit.Pixel(91);
                                    settings.ClientSideEvents.Click = "function(s, e){ AgendaScheduler.AppointmentFormDelete(); }";
                                }).GetHtml()
                            </td>
                        }
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <table cellpadding="0" cellspacing="0" style="width: 100%">
        <tr>
            <td style="width: 100%; height: 100%;" align="left">
                @Html.DevExpress().SchedulerStatusInfo(
                    settings =>
                    {
                        settings.Name = "schedulerStatusInfo";
                        settings.Priority = 1;
                        settings.SchedulerName = "AgendaScheduler";
                    }).GetHtml()
            </td>
        </tr>
    </table>
}
