@model Rp3.Web.Mvc.Application.Security.Models.ResetPassword
<form id="recoverform" action="@Url.Action("RequestPasswordRecovery", "Account", new { area = "Security" })" method="post">
    <p>@Rp3.Resources.LegendFor.EmailRequestForPasswordForget</p>
    @Html.Rp3HelpTextBoxFor(model => model.Email, "icon-envelope", htmlAttributes: new { placeholder = Rp3.Resources.LabelFor.Email })
    <div class="form-actions clearfix">
        <div class="pull-left">
            <a href="#loginform" class="grey flip-link to-login">@Rp3.Resources.LegendFor.BackToLogin</a>
        </div>
        @if (Rp3.Configuration.Rp3ConfigurationSection.Current.AllowUserRegister)
        {
            <div class="pull-right">
                <a href="#registerform" class="blue flip-link to-register">Create new account</a>
            </div>
        }
        @Html.Rp3TextButton(Rp3.Resources.LabelFor.PasswordRecoverySend, blockButton: true, submit: true)
    </div>
</form>
