@model List<Rp3.AgendaComercial.Models.Consulta.View.EstadisticaEncuesta>

<div id="chart" style="width:100%; height:100%;"></div>

<script>

    $(function () {
        var dataarray = [];
        var categoryarray = [];

        @foreach (var item in Model)
        {
            <text>
        dataarray.push(['@Html.Raw(item.Resultado)', @item.Cantidad])
        categoryarray.push('@Html.Raw(@item.Resultado)');
        </text>
        }

        $('#chart').highcharts({
            chart: {
                type: 'column'
            },
            title: {
                text: '@Html.Raw(ViewBag.TituloActividad)',
                x: -20 //center
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'middle',
                borderWidth: 0
            },
            yAxis: {
                title: {
                    text: '@Html.Raw(Rp3.AgendaComercial.Resources.LabelFor.NumRepuestas)'
                }
            },
            xAxis: {
                categories: categoryarray,
                //crosshair: true
            },
            plotOptions: {
                column: {
                    colorByPoint: true
                }
            },
            series: [{
                showInLegend: false,
                name: '@Html.Raw(Rp3.AgendaComercial.Resources.LabelFor.Respuestas)',
                data: dataarray,
                dataLabels: {
                    enabled: true,
                    rotation: 0,
                    color: '#FFFFFF',
                    align: 'center',
                    x: 0,
                    y: 30,
                    style: {
                        fontSize: '13px',
                        fontFamily: 'Verdana, sans-serif',
                        textShadow: '0 0 3px black'
                    }
                }
            }]
        });
    });

</script>
