@model Rp3.AgendaComercial.Models.Ruta.Ruta
@{
    ViewBag.Title = Rp3.AgendaComercial.Resources.TitleFor.DetalleRuta;
    this.SetImportFormElements(true);
    this.SetImportFormValidations(true);
    this.SetImportTables(true);

    Rp3.Web.Mvc.Html.TabCollection tabCollection = (Rp3.Web.Mvc.Html.TabCollection)ViewBag.TabCollection;
}

@section Imports{
    @Url.ImportApplicationScript("ruta/ruta.js", true)
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places&language=@System.Threading.Thread.CurrentThread.CurrentUICulture.Name"></script>
}

@section StyleImports{
    @Url.ImportApplicationStyleSheet("rate.css", true)
    @Url.ImportApplicationStyleSheet("mapa.css", true)
}

@Html.DevExpress().GetScripts(
    new Script { ExtensionSuite = ExtensionSuite.HtmlEditor },
    new Script { ExtensionSuite = ExtensionSuite.Editors }
)

@Html.DevExpress().GetStyleSheets(
        new StyleSheet { ExtensionSuite = ExtensionSuite.Editors, Theme = "MetropolisBlue" }
)

@using (Html.Rp3BeginForm(htmlAttributes: new { id = "rutaForm" }))
{
    using (Html.Rp3BeginRow())
    {
        using (Html.Rp3BeginColumn(HtmlColumnSize.Size_12))
        {
            using (Html.Rp3BeginContentBox())
            {
                @: @{ Html.RenderPartial("_Datos", Model); }
            }
        }
    }
    using (Html.Rp3BeginRow())
    {
        using (Html.Rp3BeginColumn(HtmlColumnSize.Size_6))
        {
            using (Html.Rp3BeginContentBox())
            {
                <div style="position:relative; height:275px;">
                    @using (Html.Rp3BeginFormGroupEditor(Rp3.AgendaComercial.Resources.LabelFor.IncluirCliente, labelSize: HtmlColumnSize.Size_2))
                    {
                        @:@Html.Rp3TextBox("rutaIncluirSearch", readOnly: true, htmlAttributes: new { id = "rutaIncluirSearch" })
                    }
                    @{ Html.RenderPartial("_RutaIncluir", Model); }
                </div>
            }
        }
        using (Html.Rp3BeginColumn(HtmlColumnSize.Size_6))
        {
            using (Html.Rp3BeginContentBox())
            {
                <div style="position:relative; height:275px;">
                    @using (Html.Rp3BeginFormGroupEditor(Rp3.AgendaComercial.Resources.LabelFor.ExcluirCliente, labelSize: HtmlColumnSize.Size_2))
                    {
                        @:@Html.Rp3TextBox("rutaExcluirSearch", readOnly: true, htmlAttributes: new { id = "rutaExcluirSearch" })
                    }
                    @{ Html.RenderPartial("_RutaExcluir", Model); }
                </div>
            }
        }
    }
    
    using (Html.Rp3BeginRow())
    {
        using (Html.Rp3BeginColumn(HtmlColumnSize.Size_12, htmlAttributes: new { style = "margin-top:-30px" }))
        {
            using (Html.Rp3BeginContentBox(Rp3.AgendaComercial.Resources.TitleFor.DetalleRutaCliente))
            {
                <div id="GridDetalle" style="position:relative; height:470px;"></div>
            }
        }
    }
}
<script>
    $(function () {
        initDetail();
        loadDetalleGrid(0);
    });
</script>
